<!DOCTYPE html>
<html>
<head>
	<title>connection</title>
	<meta charset="utf-8">
</head>
<body>


	<form name="form" class="well" th:href="@{user}" method="POST" th:object="${user}">
		<div class="form-group">
			<label>Mail</label>
			<input type="text" name="mail" class="form-control" id="mail" th:field="*{mail}"  > 
		</div>
		<div class="form-group">
			<label>Mot de passe</label>
			<input type="password" name="psw" class="form-control" id="psw" th:field="*{psw}" > 
		</div>
		<div class="form-group">
			<label>Fname</label>
			<input type="text" name="fname" class="form-control" id="fname" th:field="*{fname}" > 
		</div>
		<div class="form-group">
			<label>Lname</label>
			<input type="text" name="lname" class="form-control" id="lname" th:field="*{lname}" > 
		</div>
		
		<button class="btn btn-warning" type="submit" >Connexion</button>
	</form>

</body>
</html>